img {
    width:500px;
    height:250px;
    background-repeat:no-repeat;
    background-size:cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .button
  {
  position:relative;
  margin-top:180px;
  }
  
  h4 {
    margin-top: 15px;
  }
  .row {
    margin-bottom: 20px;
  }
  .row .row {
    margin-bottom: 0;
    margin-left: 0px
  }
  [class*="col-"] {
    padding-top: 15px;
    padding-bottom: 15px;
    border:1px;
  }
  .card {
    position: relative;
      background-color:cornsilk;
      background-clip: border-box
  }