img {
  width:150;
  height:120px;
  background-repeat:no-repeat;
  background-size:cover;
}
.search-form {
  display: inline-block;
}
.offers-list {
  display: list-item;
}
.container {
  text-align: center;
  padding-right: 15px;
  padding-left: 15px;
}
.button
{
position:relative;
margin-top:180px;
}

h4 {
  margin-top: 15px;
}
.row {
  margin-bottom: 20px;
}
.row .row {
  margin-bottom: 0;
  margin-left: 0px
}
[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
  border:1px;
}
.card {
  position: relative;
    background-color: coral;
    background-clip: border-box
}