<!-- BEGIN TABLE RESULT -->
<div class="container">
    <div class="search-form">
      <app-search-offer [query]="query" [category]="category"></app-search-offer>
    </div>
    <div class="row" *ngIf="offers.length">
      <!-- BEGIN SEARCH RESULT -->
      <div class="col-md-12">
        <div class="grid search">
          <div class="grid-body">
            <div class="row">
              <div class="table-responsive">
                <table class="table table-hover">
                  <tbody>
                    <tr *ngFor="let offer of offers">
                    <td class="number text-center">1</td>
                    <td class="image"><img src={{offer.image}} alt=""></td>
                    <td class="product"><strong>{{offer.name}}</strong><br>{{offer.description}}.</td>
                    <td class="rate text-right"><span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i></span></td>
                    <td class="price text-right">${{offer.price}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="!offers.length">
      <h1>No offers matching: "{{query}}"</h1>
    </div>
  </div>

  <!-- END TABLE RESULT -->